/* .vitepress/theme/custom.css */
:root {
    --vp-c-indigo-1: #378ffb;
    --vp-c-brand-3:#378ffb;
    --vp-c-brand-2: #5ca2f9;
    --vp-c-brand-1:#378ffb;

    --vp-c-brand: #0066e4 ;
    --vp-c-brand-light: #378ffb ;
    --vp-button-brand-border:#5ca2f9 ;
    --vp-button-brand-hover-bg:#127afc ;
    --vp-button-brand-hover-border:#5ca2f9 ;
    --vp-button-brand-active-bg:#127afc ;
    --vp-button-brand-active-border:#5ca2f9 ;
    --vp-c-green-lighter:#5ca2f9;
    --vp-c-brand-dark:#378ffb;
}

.VPHome .VPHomeHero .container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
 
.VPHome .VPHomeHero .container .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.VPNavBarTitle  .title{
    display: none;
}
.VPNavBarTitle.has-sidebar  .title{
    display:flex;
    color: var(--vp-c-brand);
    font-size: 26px;
    letter-spacing: 4px;
}